/* ===============
   component
   =============== */
.pomodoro-timer {
  position: relative;
}
.pomodoro-timer .svg-wrapper svg {
  transform: scale(0.5);
  transform-origin: top left;
}
.pomodoro-timer .svg-wrapper {
  position: relative;
  width: 403.5px;
  height: 370px;
  margin: auto;
  margin-top: 5em;
  overflow: hidden;
}
.pomodoro-timer .svg-wrapper .inner-panel {
  background-color: #9b1531;
  width: 378.5px;
  height: 36px;
  position: absolute;
  left: 12.5px;
  top: 189px;
}
.pomodoro-timer .svg-wrapper .top-sect,
.pomodoro-timer .svg-wrapper .bottom-sect,
.pomodoro-timer .svg-wrapper .peduncle-sect,
.pomodoro-timer .inner-panel {
  transition: transform 0.5s cubic-bezier(0.75, -0.5, 0, 1.75);
}

.pomodoro-timer.ready .svg-wrapper .shelf-arrow-control {
  transition: transform 0.5s cubic-bezier(0.75, -0.5, 0, 1.75);
}
/* ===============
   IDLE rules
   =============== */
.pomodoro-timer.idle .interactive-controls .checkbox,
.pomodoro-timer.idle .interactive-controls .task-completion {
  display: none;
}
.pomodoro-timer.idle .interactive-controls {
  text-align: center;
  transform: translateX(20px);
}
.pomodoro-timer.idle .svg-wrapper .shelf-arrow-control {
  fill: #c02243;
}
/* ===============
   READY rules
   =============== */
.pomodoro-timer.ready .svg-wrapper .top-sect,
.pomodoro-timer.ready .svg-wrapper .peduncle-sect,
.pomodoro-timer.ready .svg-wrapper .shelf-arrow-control {
  transform: translateY(-30px);
}
.pomodoro-timer.ready .svg-wrapper .bottom-sect {
  transform: translateY(30px);
}
.pomodoro-timer .svg-wrapper .inner-panel {
  height: 85px;
  top: 154px;
}
.pomodoro-timer.ready .svg-wrapper .shelf-arrow-control {
  fill: #c02243;
}

/* ===============
   interactive-controls
   =============== */
.pomodoro-timer .interactive-controls {
  position: absolute;
  left: 12px;
  top: 196px;
  width: 379px;
}
.pomodoro-timer .interactive-controls .checkbox {
  width: 35px;
  height: 35px;
  background-color: #6c081d;
  border-radius: 50%;
  margin-left: 1em;
  display: inline-block;
}
.pomodoro-timer .interactive-controls .task-name {
  color: #ffc4b6;
  background: none;
  outline: none;
  border: none;
  font-weight: 900;
  /*  position: relative;
  left: 1em;
  top: -15px; */
}
.pomodoro-timer .interactive-controls .task-name,
.pomodoro-timer .interactive-controls .checkbox,
.pomodoro-timer .interactive-controls .task-completion,
.pomodoro-timer .interactive-controls .task-completion > div {
  display: inline-block;
}
.pomodoro-timer .interactive-controls .task-completion {
  float: right;
  margin-right: 1em;
}
/* ===============
   animations-declarations
   =============== */
.pomodoro-timer .svg-wrapper .bottom-sect-anim,
.pomodoro-timer .svg-wrapper .top-sect-anim,
.pomodoro-timer .svg-wrapper .peduncle-sect-anim {
  animation-fill-mode: both !important;
  position: relative;
}
.pomodoro-timer.idle .svg-wrapper .top-sect-anim {
  animation-name: top-sect-idle;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.pomodoro-timer.idle .svg-wrapper .bottom-sect-anim {
  animation-name: bottom-sect-idle;
  animation-duration: 3s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.pomodoro-timer.idle .svg-wrapper .peduncle-sect {
  /*  animation-name: bottom-sect-idle; */
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
.pomodoro-timer.idle .svg-wrapper .controls-anim {
  animation-name: shelf-control-idle;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* ===============
   animations-keyframes
   =============== */

@keyframes top-sect-idle {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes bottom-sect-idle {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes peduncle-sect-idle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shelf-control-idle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
